i { color:tomato;  }
h3{color: white;}

div#listaestilo{
    background-color: #ccc2c2b0;
}


 td#resultado{
     background: rgba(112, 110, 110, 0.493);
    border: 2px solid #000;
     height: 70px;
 }
 td#invisible{
     background-color: #ddddddb0;
     border: 2px solid #000;
     height: 70px;
 }

 
div#carouselExampleSlidesOnly{ 
    margin: auto;
    width: 800px; 
    height: 500px;
 
   
}
img#foto1{

    margin-left: 100px;

}
img#fotos{

    margin-left: 150px;
    width: 500px; 
    height: 400px;

}
img#carro{
    width: 150px; 
    height: 80px;
}



table {

    border: 2px solid #000;
    background-color: #ddddddb0;
 }
 th, td {
    
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    
 }
 
 th {
    background: rgba(112, 110, 110, 0.493);
    border: 2px solid #000;
   
 }