i { color:tomato;  }
h3{color: white;}

div#listaestilo{
    background-color: #ccc2c2b0;
}


 td#resultado{
     background: rgba(112, 110, 110, 0.493);
    border: 2px solid #000;
     height: 70px;
 }
 td#invisible{
     background-color: #ddddddb0;
     border: 2px solid #000;
     height: 70px;
 }

 body#fondo{background-color: #99edf180;}

div#datos{
    background-color: rgba(172, 172, 172, 0.849)

}
div#carouselExampleSlidesOnly{ 
    margin: auto;
    width: 800px; 
    height: 500px;
 
   
}
img#foto1{

    margin-left: 100px;

}
img#fotos{

    margin-left: 150px;
    width: 500px; 
    height: 400px;

}
img#carro{
    width: 150px; 
    height: 80px;
}


table {

    border: 2px solid #000;
    background-color: #ddddddb0;

 }
table#emergente{

    border: 2px solid rgba(255, 255, 255, 0.445);
    background-color: #dddddd00;
 }
.emergente {
    background: rgb(255, 255, 255);
    border: 2px solid rgba(196, 189, 189, 0.747);
 }
 .emergente1 {
    background: rgb(224, 216, 94);
    border: 2px solid rgba(236, 234, 234, 0.178); 
 }

span#total{
font-size: 150% ;
color: rgb(19, 167, 39)}

.grande{
    font-size: 250% ;
color: rgb(248, 73, 73)
}
 
 th, td {
    
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    
 }
 
 th {
    background: rgba(112, 110, 110, 0.493);
    border: 2px solid #000;
   
 }

div#tabla{
    width:1300px ;
    margin-left: 200px;
}