i { color:tomato;  }
h3{color: white;}




div#carouselExampleSlidesOnly{ 
    margin: auto;
    width: 800px; 
    height: 500px;
 
   
}

img#fotos{

    margin-left: 150px;
    width: 500px; 
    height: 400px;

}
img#carro{
    width: 150px; 
    height: 80px;
}

h2{margin-left: 1250px;
    border: red 3px solid;
    margin-right: 60px;}
